<h4>Comment list:</h4>
<% @commentlis = @entry.comments %>
<ul class="users">
  <% @commentlis.each do |comment_user| %>
    <li>
      <h5><%= comment_user.user.name %>:</h5>
      <br>
      <%= comment_user.comment_content %>
    </li>
    <span class="timestamp">
    	Posted <%= time_ago_in_words(comment_user.created_at) %> ago.
  	</span>
  <% end %>
</ul>